@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes transitionIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    -webkit-animation: transitionin 0.9s;
    animation: transitionIn 0.9s;
}

footer {
    margin-top: auto;
}

li,
a {
    text-decoration: none;
    color: black;
}

.welcome-body p,
.register-container,
.about-container p,
.feedback-container p {
    text-align: center;
    line-height: 2;
}

.social-media-container {
    margin: 2em 1em 2em 1em;
    display: flex;
    justify-content: space-evenly;
}

.social-media-logo:hover {
    transition: all 0.3s ease 0s;
    opacity: 0.6;
}

/* --------------- Navigation bar --------------- */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin: 2rem;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.logo {
    cursor: pointer;
    height: 80px;
    width: 120px;
}

.nav-links li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 2em;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 900;
}

.nav-links li a:hover {
    transition: all 0.3s ease 0s;
    color: #f96c26;
}

.toggle-button {
    position: absolute;
    top: 3.25rem;
    right: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    align-items: center;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

/* --------------- Home --------------- */

.welcome-container {
    text-align: center;
}

.welcome-title h1 {
    margin-bottom: 0.7em;
}

.welcome-title h3 {
    margin-bottom: 0.5em;
}

.welcome-title a {
    font-size: 1.55rem;
}

.welcome-title a:hover {
    transition: all 0.3s ease 0s;
    color: #f96c26;
}

.girl-logo {
    width: 430px;
    height: 240px;
}

.welcome-body {
    margin-bottom: 2em;
}

.welcome-body p {
    font-size: 1.1rem;
}

.welcome-body h2 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-weight: 900;
    text-align: center;
}

.welcome-body h3 {
    text-align: center;
    font-size: 1.125rem;
}

.circle-project {
    font-weight: 900;
}

.class-description {
    margin-top: 1em;
}

.circle-project:hover {
    transition: all 0.3s ease 0s;
    color: #f96c26;
}

.date-list-container {
    text-align: center;
    margin-top: 2em;
}

.date-list-container p {
    font-weight: bolder;
    font-size: 1.25rem;
}

.date-list-container ul {
    text-align: center;
    display: inline-block;
    list-style: none;
    margin: 0.5em 1em 1em 1em;
    font-size: 1.25rem;
}

.date-list li {
    margin: 0.5em;
    font-weight: bolder;
}

/* --------------- Register --------------- */

.register-container {
    margin-bottom: 7em;
}

.register-container h2 {
    margin-top: 0.5em;
}

.course-dates-container {
    text-align: center;
    margin-top: 0em;
}

.course-dates-container p {
    font-weight: bolder;
    font-size: 1rem;
}

.course-dates-container ul {
    text-align: center;
    display: inline-block;
    list-style: none;
    margin: 0.25em 0.5em 0em 0.5em;
    font-size: 1rem;
}

.course-date-list li {
    margin: 0.25em;
    font-weight: bolder;
}

.registration-fees a {
    font-weight: bolder;
    border-bottom: 2px solid rgba(0, 49, 227, 1);
    color: rgba(0, 49, 227, 1);
}

.registration-fees a:hover {
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid rgba(0, 49, 227, 0.7);
    color: rgba(0, 49, 227, 0.7);
}

.registration-fees p {
    margin-bottom: 1em;
}

.registration-refund a {
    font-weight: bolder;
    border-bottom: 2px solid rgba(0, 49, 227, 1);
    color: rgba(0, 49, 227, 1);
}

.registration-refund a:hover {
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid rgba(0, 49, 227, 1);
    color: rgba(0, 49, 227, 0.7);
}

/* --------------- About --------------- */

.about-container {
    text-align: center;
    margin-bottom: 7em;
}

.about-container p {
    text-align: center;
    margin: 1em 1em 1em 1em;
}

.about-logo-container {
    margin-top: 2em;
    margin-bottom: 6em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.html-logo {
    width: 130px;
    height: 130px;
}

.css-logo {
    width: 92px;
    height: 127px;
}

.github-logo {
    width: 110px;
    height: 110px;
}

/* --------------- Feedback --------------- */

.feedback-container {
    text-align: center;
}

.feedback-container p {
    margin: 1em;
}

.feedback-container a {
    font-weight: bolder;
}

.feedback-container a:hover {
    transition: all 0.3s ease 0s;
    color: #f96c26;
}

.form-container {
    text-align: center;
}

/* --------------- Contact --------------- */

.contact-container {
    text-align: center;
    margin-bottom: 7em;
}

.contact-container h1 {
    margin-bottom: 1em;
}

.contact-container h3 {
    margin-bottom: 1.5em;
}

.contact-container p {
    line-height: 2.5;
}

.contact-container a {
    font-weight: bolder;
}

.contact-container a:hover {
    transition: all 0.3s ease 0s;
    color: #f96c26;
}

.contact-list {
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

.contact-list h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* --------------- Media Queries--------------- */

@keyframes slideDown {
    0% {
        transform: translateY(-80%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-80%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@media (max-width: 1920px) {
    .welcome-container,
    .register-container,
    .contact-container,
    .about-container,
    .feedback-container {
        margin-left: 30em;
        margin-right: 30em;
    }

    .nav-bar {
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media (max-width: 1440px) {
    .welcome-container,
    .register-container,
    .contact-container,
    .about-container,
    .feedback-container {
        margin-left: 13em;
        margin-right: 13em;
    }

    .nav-bar {
        margin-left: 3.5em;
        margin-right: 3.5em;
    }
}

@media (max-width: 1024px) {
    .welcome-container,
    .register-container,
    .about-container,
    .feedback-container {
        margin-left: 7.5em;
        margin-right: 7.5em;
    }

    .contact-container {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    html {
        font-size: 90%;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
        margin-bottom: 2em;
        border-bottom: 2px solid #d6d6d6;
    }

    .nav-links li {
        text-align: center;
        padding: 1rem 1rem;
    }

    .nav-links.active {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-animation: slideDown 0.85s ease;
        animation: slideDown 0.85s ease;
    }

    .contact-list {
        flex-direction: column;
        margin-top: 3em;
    }

    .teaching-team,
    .professor-section {
        margin-bottom: 2em;
    }

    .welcome-title a {
        color: #f96c26;
    }

    .circle-project {
        color: #f96c26;
    }

    .feedback-container a {
        color: #f96c26;
    }

    .contact-container a {
        color: #f96c26;
    }
}

@media (max-width: 780px) {
    .welcome-container,
    .register-container,
    .about-container,
    .feedback-container {
        margin-left: 3em;
        margin-right: 3em;
    }

    .welcome-title a {
        color: #f96c26;
    }

    .circle-project {
        color: #f96c26;
    }

    .class-description {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .welcome-list {
        margin-bottom: 3em;
    }

    .logo {
        height: 60px;
        width: 90px;
    }

    .girl-logo {
        width: 235px;
        height: 140px;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
        margin-bottom: 2em;
        border-bottom: 2px solid #d6d6d6;
    }

    .nav-links li {
        text-align: center;
        padding: 1rem 1rem;
    }

    .nav-links.active {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-animation: slideDown 0.85s ease;
        animation: slideDown 0.85s ease;
    }

    .html-logo {
        width: 100px;
        height: 100px;
    }

    .css-logo {
        width: 72px;
        height: 100px;
    }

    .github-logo {
        width: 90px;
        height: 90px;
    }

    .about-logo-container {
        margin-top: 3em;
        margin-bottom: 8em;
    }

    .feedback-container a {
        color: #f96c26;
    }

    .contact-container a {
        color: #f96c26;
    }

    .date-list-container ul {
        text-align: center;
        display: inline-block;
        list-style: none;
        margin: 0.5em 0em 1em 0em;
        font-size: 1.25rem;
    }

    .contact-list {
        flex-direction: column;
        margin-top: 3em;
    }

    .teaching-team,
    .professor-section {
        margin-bottom: 2em;
    }

    .welcome-body {
        margin-bottom: 0em;
    }
}
